bin/
obj/
**/bin/**
**/obj/**
/packages/
riderModule.iml
/_ReSharper.Caches/
.env*
!.env.example
!.env.local.example
!.env.production.example
.idea/.idea.RoomManagermentBe/.idea
*.md
*.log
**/appsettings.Development.json